---
- name: Configure Server
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: microCloud

    # Install
    - name: Install microcloud
      community.general.snap:
        classic: true
        name: "microcloud"

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0777
      with_items:
        - /Storage
#########################################################################################
    - name: Adding user to group (if needed by the microcloud install docs)
      user:
        name: tekore
        groups: microk8s
        append: yes