---

- name: Ensure certificate directory exists
  file:
    path: "{{ cert_dir }}"
    state: directory
    mode: '0755'

- name: Generate private key
  community.crypto.openssl_privatekey:
    path: "{{ cert_dir }}/{{ cert_name }}.key"
    size: 4096
    type: RSA

- name: Generate CSR
  community.crypto.openssl_csr:
    path: "{{ cert_dir }}/{{ cert_name }}.csr"
    privatekey_path: "{{ cert_dir }}/{{ cert_name }}.key"
    common_name: "{{ cert_name }}"

- name: Generate self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ cert_dir }}/{{ cert_name }}.crt"
    privatekey_path: "{{ cert_dir }}/{{ cert_name }}.key"
    csr_path: "{{ cert_dir }}/{{ cert_name }}.csr"
    provider: selfsigned

- name: Add client certificate to LXD
  command: lxc config trust add {{ cert_dir }}/{{ cert_name }}.crt
  register: trust_result
  failed_when: 
    - trust_result.rc != 0
    - "'already in trust store' not in trust_result.stderr"
  changed_when: trust_result.rc == 0

- name: Display certificate
  debug:
    msg:
      - "Certificate: {{ cert_dir }}/{{ cert_name }}.crt"
      - "Private Key: {{ cert_dir }}/{{ cert_name }}.key"
      - "Certificate added to LXD"