---
- name: Configure LXD
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: lxd-host

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0755
      with_items:
        - /Storage

    - name: Install LXD snap
      community.general.snap:
        name: lxd
        channel: latest/stable

    - name: Create LXD preseed configuration
      copy:
        content: |
          config:
            core.https_address: '[::]:8443'
          networks:
          - config:
              ipv4.address: 192.168.1.1/24
              ipv4.dhcp: true
              ipv4.nat: true
              ipv6.address: none
            description: "Default LXD bridge"
            name: lxdbr0
            type: bridge
          storage_pools:
          - config:
              source: /Storage
            description: "Custom storage pool"
            name: storage-pool
            driver: dir
          profiles:
          - config: {}
            description: "Default LXD profile"
            devices:
              eth0:
                name: eth0
                network: lxdbr0
                type: nic
              root:
                path: /
                pool: storage-pool
                type: disk
            name: default
        dest: /tmp/lxd-preseed.yaml

    - name: Initialize LXD with preseed
      shell: cat /tmp/lxd-preseed.yaml | lxd init --preseed
      args:
        executable: /bin/bash

    - name: Wait for LXD to be ready
      shell: lxc list
      retries: 5
      delay: 2
      register: result
      until: result.rc == 0
      ignore_errors: yes---
- name: Configure LXD
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: lxd-host

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0755
      with_items:
        - /Storage

    - name: Install LXD snap
      community.general.snap:
        name: lxd
        channel: latest/stable

    - name: Create LXD preseed configuration
      copy:
        content: |
          config:
            core.https_address: '[::]:8443'
          networks:
          - config:
              ipv4.address: 192.168.1.1/24
              ipv4.dhcp: true
              ipv4.nat: true
              ipv6.address: none
            description: "Default LXD bridge"
            name: lxdbr0
            type: bridge
          storage_pools:
          - config:
              source: /Storage
            description: "Custom storage pool"
            name: storage-pool
            driver: dir
          profiles:
          - config: {}
            description: "Default LXD profile"
            devices:
              eth0:
                name: eth0
                network: lxdbr0
                type: nic
              root:
                path: /
                pool: storage-pool
                type: disk
            name: default
        dest: /tmp/lxd-preseed.yaml

    - name: Initialize LXD with preseed
      shell: cat /tmp/lxd-preseed.yaml | lxd init --preseed
      args:
        executable: /bin/bash

    - name: Wait for LXD to be ready
      shell: lxc list
      retries: 5
      delay: 2
      register: result
      until: result.rc == 0
      ignore_errors: yes