---
- name: Configure MicroCloud
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: microCloud

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0777
      with_items:
        - /Storage

    - name: Install {{ item }} snap with cohort
      community.general.snap:
        name: "{{ item }}"
      loop:
        - lxd
        - microceph
        - microovn
        - microcloud
    
    - name: Deploy MicroCloud with configuration preseed
      copy:
        content: |
          lookup_subnet: 145.239.66.0/24
          lookup_interface: eno1
          systems:
            - name: microCloud
              ovn_uplink_interface: eno1
              storage:
                local:
                  path: /Storage
                  wipe: false
          networks:
            - name: lxdfan0
              type: bridge
              config:
                bridge.mode: fan
                fan.underlay_subnet: 145.239.66.0/24
                ipv4.nat: "true"
          ovn:
            ipv4_gateway: auto
            ipv4_range: auto
            ipv6_gateway: auto
          ceph:
            internal_network: ""
            public_network: ""
        dest: /tmp/preseed.yaml

    - name: Initialize MicroCloud with preseed
      shell: cat /tmp/preseed.yaml | microcloud preseed
      args:
        executable: /bin/bash