---
- name: Configure MicroCloud
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: microCloud

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0777
      with_items:
        - /Storage

    - name: Install {{ item }} snap with cohort
      community.general.snap:
        name: "{{ item }}"
      loop:
        - lxd
        - microceph
        - microovn
        - microcloud
    
    - name: Deploy MicroCloud with configuration preseed
      copy:
        content: |
          lookup_subnet: 145.239.66.0/24
          lookup_interface: eno1
          initiator: microCloud
          session_passphrase: Password123*test
          systems:
            - name: microCloud
              ovn_uplink_interface: eno1
          ovn:
            ipv4_gateway: 192.168.1.1/24
            ipv4_range: 192.168.1.100-192.168.1.254
        dest: /tmp/preseed.yaml

    - name: Initialize MicroCloud with preseed
      shell: cat /tmp/preseed.yaml | microcloud preseed
      args:
        executable: /bin/bash
    
    - name: Create custom storage pool at /Storage
      shell: lxc storage create storage-pool dir source=/Storage
      args:
        executable: /bin/bash

    - name: Set as default storage pool (optional)
      shell: lxc profile device add default root disk path=/ pool=storage-pool
      args:
        executable: /bin/bash
      ignore_errors: yes