---
- name: Configure MicroCloud
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: microCloud

    - name: Create the needed directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: 0777
      with_items:
        - /Storage

    - name: Install {{ item }} snap with cohort
      community.general.snap:
        name: "{{ item }}"
      loop:
        - lxd
        - microceph
        - microovn
        - microcloud
    
    - name: Deploy MicroCloud with configuration preseed
      copy:
        content: |
          {{ lookup('file', 'preseed.yaml') }}
        dest: /tmp/preseed.yaml

    - name: Initialize MicroCloud with preseed
      shell: cat /tmp/preseed.yaml | microcloud preseed
      args:
        executable: /bin/bash