---

- name: Check if bucket already exists
  shell: lxc storage bucket list {{ storage_pool }} --format=json | jq -r '.[].name' | grep -x "{{ bucket_name }}"
  register: bucket_exists
  failed_when: false
  changed_when: false

- name: Display message if bucket exists
  debug:
    msg: "Bucket '{{ bucket_name }}' already exists. Skipping creation."
  when: bucket_exists.rc == 0

- name: Create storage bucket
  command: >
    lxc storage bucket create {{ storage_pool }} {{ bucket_name }}
  when: bucket_exists.rc != 0

- name: Check if bucket key already exists
  shell: lxc storage bucket key list {{ storage_pool }} {{ bucket_name }} --format=json | jq -r '.[].name' | grep -x "{{ key_name }}"
  register: key_exists
  failed_when: false
  changed_when: false

- name: Display message if key exists
  debug:
    msg: "Bucket key '{{ key_name }}' already exists. Skipping creation."
  when: key_exists.rc == 0

- name: Create bucket key
  command: >
    lxc storage bucket key create {{ storage_pool }} {{ bucket_name }} {{ key_name }} --role=admin
  when: key_exists.rc != 0

- name: Get bucket credentials
  command: >
    lxc storage bucket key show {{ storage_pool }} {{ bucket_name }} {{ key_name }}
  register: bucket_credentials
  changed_when: false

- name: Parse credentials
  set_fact:
    parsed_creds: "{{ bucket_credentials.stdout | from_yaml }}"

- name: Set bucket endpoint
  command: lxc config get core.https_address
  register: lxd_address
  changed_when: false

- name: Display bucket credentials
  ansible.builtin.debug:
    var: bucket_create.stdout_lines
  when: bucket_create.changed
