---
- name: Check if LXD is installed (Fails if Lxd isn't)
  command: lxd version
  changed_when: false

- name: Create cloud-init configuration file
  copy:
    dest: /tmp/{{ container_name }}-cloud-init.yml
    content: |
      #cloud-config
      package_update: true
      packages:
        - ansible
        - openssh-server
      
      users:
        - name: {{ runner_user }}
          groups: sudo
          shell: /bin/bash
          sudo: ['ALL=(ALL) NOPASSWD:ALL']
          lock_passwd: false
          passwd: {{ runner_password | password_hash('sha512') }}
      
      ssh_pwauth: true
      
      write_files:
        - path: /var/runner_secrets.yml
          permissions: '0600'
          content: |
            # GitHub Runner Secrets
            github_repo_url: {{ github_repo_url }}
            github_runner_name: {{ github_runner_name }}
            github_pat: {{ github_pat }}
        
        - path: /usr/local/bin/setup-runner.sh
          permissions: '0755'
          content: |
            #!/bin/bash
            set -e
            echo "Running ansible-pull to configure GitHub runner..."
            ansible-pull -U {{ ansible_repo_url }} \
              -i localhost, \
              --purge \
              {{ ansible_repo_playbook }} \
              --extra-vars '@/var/runner_secrets.yml'
      
      runcmd:
        - /usr/local/bin/setup-runner.sh
      
      bootcmd:
        - /usr/local/bin/setup-runner.sh

- name: Launch LXD container with cloud-init
  command: >
    lxc launch ubuntu:{{ ubuntu_version }} {{ container_name }}
    --config limits.memory={{ container_memory }}
    --config boot.autostart=true
    --config security.nesting=true
    --config security.syscalls.intercept.mknod=true
    --config security.syscalls.intercept.setxattr=true
    --config user.user-data="$(cat /tmp/{{ container_name }}-cloud-init.yml)"
  register: lxc_launch
  changed_when: "'Creating' in lxc_launch.stdout"

- name: Clean up cloud-init temp file
  file:
    path: /tmp/{{ container_name }}-cloud-init.yml
    state: absent

- name: Wait for container to be ready
  pause:
    seconds: 20

- name: Wait for cloud-init to complete
  command: lxc exec {{ container_name }} -- cloud-init status --wait
  register: cloud_init_wait
  changed_when: false
