---

server_hostname: "lxd-host"

storage_directory: "/Storage"

lxd_trust_password: "Changeme123!"

lxd_preseed:
  config:
    core.https_address: '127.0.0.1:8443'
  networks:
    - config:
        ipv4.address: 192.168.1.1/24
        ipv4.dhcp: true
        ipv4.nat: true
        ipv6.address: none
      description: "Default LXD bridge"
      name: lxdbr0
      type: bridge
  storage_pools:
    - config:
        source: /Storage
      description: "Custom storage pool"
      name: storage-pool
      driver: dir
  profiles:
    - config: {}
      description: "Default LXD profile"
      devices:
        eth0:
          name: eth0
          network: lxdbr0
          type: nic
        root:
          path: /
          pool: storage-pool
          type: disk
      name: default