---
- name: Configure Server
  connection: local
  become: true
  become_user: root
  hosts: localhost
  tasks:
    - name: Create tekore user with specified groups
      ansible.builtin.user:
        name: tekore
        groups: adm,sudo,lxd,admin
        shell: /bin/bash
        create_home: yes

    - name: Create sudoers file for tekore
      ansible.builtin.copy:
        content: |
          # User rules for tekore
          tekore ALL=(ALL) NOPASSWD:ALL
        dest: /etc/sudoers.d/91-tekore
        mode: '0440'
        owner: root
        group: root
        validate: 'visudo -cf %s'
  
    - name: Create the needed directories
      ansible.builtin.file:
        path: "/home/tekore/.ssh"
        state: directory
        owner: tekore
        group: tekore
        mode: 0760

    - name: Copy ubuntu user authorized_keys file
      ansible.builtin.copy:
        src: /home/ubuntu/.ssh/authorized_keys
        dest: /home/tekore/.ssh/authorized_keys
        owner: tekore
        group: tekore
        remote_src: yes

    - name: Delete ubuntu user and home directory
      ansible.builtin.user:
        name: ubuntu
        state: absent
        remove: yes

    - name: Update all packages
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist

    - name: Install packages
      apt:
        pkg:
          - ufw
          - vim
          - lm-sensors
          - htop
          - fail2ban
        state: latest
        update_cache: true
    
    - name: Check UFW is disabled
      ufw:
        state: disabled

    - name: Ensure new SSH port is configured in sshd_config
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?Port\s+22'
        line: 'Port 2022'
        validate: 'sshd -t -f %s'
    
    - name: Restart the SSH service to apply changes
      ansible.builtin.service:
        name: ssh
        state: restarted

    - name: Copy fail2ban config and set permissions
      ansible.builtin.copy:
        src: ./fail2ban.conf
        dest: "/etc/fail2ban/jail.d/defaults-ubuntu.conf"
        owner: root
        group: root
        mode: '0644'

    - name: Enable and start Fail2Ban
      ansible.builtin.systemd:
        name: fail2ban.service
        state: started
        enabled: yes

    - name: Reboot to ensure SSH takes the new port
      ansible.builtin.reboot:
        msg: "Server will reboot now!"